<h2><%= placeOfInterest.placeOfInterestName %></h2>


        <section class="generalplaceofinterest"><p><img class="float-image" src="<%= placeOfInterest.placeOfInterestImage %>" class="placeofinterestimage">
		<b>Description:</b> <%= placeOfInterest.placeOfInterestDescription %><br>
		<b>Website:</b> <a href="https://<%= placeOfInterest.placeOfInterestWebsite %>" target="_blank"><%= placeOfInterest.placeOfInterestWebsite %></a>
		</p></section>