<h2 class="place-of-interest-name"><%= placeOfInterest.name %></h2>


        <div class="generalplaceofinterest information"><div class="float-image"><img src="<%= placeOfInterest.image %>" class="placeofinterestimage">
			<div class="image-attribution"><a target="_blank" href="<%= placeOfInterest.imageWikipediaLink %>">Photo of <%= placeOfInterest.name %> from Wikipedia</a></div></div><b>Description:</b> <%= placeOfInterest.description %><br>
		</div></div>